doctype html
html
  head
    title Задача о назначениях
    link(rel="stylesheet", href="./assets/css/first_styles.min.css")
  body
    main.container
      h1 Задача о назначениях
      form#assignment-form
        .matrix-inputs
          .matrix-block
            label Матрица C (стоимости)
            table
              tbody#matrix-c
          .matrix-block
            label Матрица T (времена)
            table
              tbody#matrix-t
        .params
          label(for="salary-fund") Фонд зарплаты S:
          input#salary-fund(type="number" name="S" min="0" value="0")
          label(for="t-type") Тип оптимизации T:
          select#t-type(name="T")
            option(value="min" selected) min
            option(value="max") max
          label(for="t-limit") Ограничение на T (Если в условии не указано, оставить пустым):
          input#t-limit(type="number" name="T_limit" min="0" step="any")
        button#solve-btn(type="button") Решить
      section#solution
        h2 Ответ
        p#answer
        h3 Ход решения
        div#solution-table
    script(type="module" src="./assets/js/first_script.js") 