doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Задача о назначениях
    link(rel="stylesheet", href="./assets/css/first_styles.min.css")
  body
    main.assignment
      h1.assignment__title Задача о назначениях
      form.assignment-form#assignment-form
        .assignment-form__matrix-inputs
          .assignment-form__matrix-block
            label.assignment-form__label(for="matrix-c-textarea") Матрица C (стоимости)
            textarea.assignment-form__textarea#matrix-c-textarea(placeholder="Введите элементы матрицы через пробел, строки отделяйте переносами\nНапример для матрицы 3x3:\n1 2 3\n4 5 6\n7 8 9")
              | 3 4 5 8 3
              | 2 9 6 7 8
              | 5 1 8 5 2
              | 8 9 6 4 3
              | 3 2 5 7 9
          .assignment-form__matrix-block
            label.assignment-form__label(for="matrix-t-textarea") Матрица T (времена)
            textarea.assignment-form__textarea#matrix-t-textarea(placeholder="Введите элементы матрицы через пробел, строки отделяйте переносами\nНапример для матрицы 3x3:\n1 2 3\n4 5 6\n7 8 9")
              | 7 6 5 2 7
              | 8 1 4 3 2
              | 5 9 2 5 8
              | 2 1 4 6 7
              | 7 8 5 3 1
        .assignment-form__params
          label.assignment-form__label(for="salary-fund") Фонд зарплаты S:
          input.assignment-form__input#salary-fund(type="number" name="S" min="0" value="33")
          label.assignment-form__label(for="t-type") Тип оптимизации T:
          select.assignment-form__select#t-type(name="T")
            option(value="min" selected) min
            option(value="max") max
          label.assignment-form__label(for="t-limit") Ограничение на T (Если в условии не указано, оставить пустым):
          input.assignment-form__input#t-limit(type="number" name="T_limit" min="0" step="any")
          label.assignment-form__checkbox-label
            input.assignment-form__checkbox#skip-increasing-time(type="checkbox" checked)
            | Не считать время, если оно больше одного из предыдущих времен
          label.assignment-form__checkbox-label
            input.assignment-form__checkbox#hide-invalid-solutions(type="checkbox" checked)
            | Не отображать решения, которые не удовлетворяют ограничениям
          

        .preset-buttons        
          button.btn.btn_solve#solve-btn(type="button") Решить 

          button.btn.btn_preset.btn_fill-5x5-matrix#fill-default(type="button")
            | Заполнить значениями
            br
            |  по умолчанию (матрица&nbsp;5*5)

          button.btn.btn_preset.btn_fill-3x3-matrix#fill-test(type="button")
            | Заполнить значениями
            br
            |  по умолчанию (матрица&nbsp;3*3)

          button.btn.btn_preset.btn_clear-all#clear-all(type="button")
            | Очистить все поля

      section.solution#solution
        h2.solution__title Ответ
        p.solution__answer#answer
        h3.solution__subtitle Решение полным перебором
        div.solution__table#solution-table
        
    script(type="module" src="./assets/js/first_script.js") 